section {
	width: 100%;
	max-width: 50%;
	margin: 0 auto;
}

/* media query to make max width bigger on mobile */
@media (max-width: 768px) {
	section {
		max-width: 85%;
	}
}

.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

section#search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1 1 auto;
	height: 100dvh;
}

section#results {
	flex: 1 1 auto;
	/* height: 100dvh; */
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.cards-container {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	overflow: auto;
}


section#run {
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 60%;
	margin: 0 auto;
	flex: 1 1 auto;
}

@media screen and (max-width: 768px) {
	section#run {
		max-width: 100%;
	}

}

.run-container,
.cards-container {
	flex: 1 1 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#run::-webkit-scrollbar,
.shop-queue::-webkit-scrollbar,
.packs::-webkit-scrollbar {
	display: none;
}

.card {
	border: .80rem solid #364b50;
	border-radius: 6px;
	background-color: #182325;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	color: #e7ad55;
	cursor: pointer;
	transition: transform 0.3s;
}

.card:hover {
	transform: scale(1.1);
}

.copy-button {
	background-color: #c14b44;
	color: #FFF;
	transition: transform 0.3s;
}

.copy-button:hover {
	background-color: #e7ad55;
	/* transform: scale(1.1); */
}


.ante {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #182325;
	padding: 8px;
	border-radius: 6px;
	border: .20rem solid #c14b44;
	flex-wrap: wrap;
	gap: 8px;
}

.first-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	overflow: hidden;
}

.run-tags {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
	gap: 8px;
	flex: 1 1 50%;
	padding: 16px;
	position: relative;
}

.run-tags::before {
	content: 'Tags:';
	font-weight: bold;
	position: absolute;
	top: -8px;
}

.shop-queue {
	display: flex;
	overflow: auto;
	/* flex: 1 1 auto; */
	/* flex-wrap: wrap; */
	/* overflow-x: auto; */
	flex: 1 1 auto;
	background-color: #364b50;
	gap: 8px;
	padding: 8px;
	/* max-width: 300px; */
	border-radius: 6px;
	margin-left: auto;
	min-width: 60%;
}

.second-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	overflow: hidden;
}

.packs {
	display: inline-flex;
	/* justify-content: center; */
	/* align-items: center; */
	background-color: #364b50;
	padding: 24px 8px;
	border-radius: 6px;
	/* border: .20rem solid #c14b44; */
	/* display: inline; */
	overflow: auto;
	width: 100%;
	gap: 8px;
	/* margin-left: auto; */
	flex: 1 20% auto;
	/* float: left; */
}

.pack-name {
	color: #e7ad55;
	font-size: 1.5rem;
	left: 8px;
	top: -18px;
	text-align: center;
	white-space: nowrap;
	position: absolute;
}

.pack-name-container {
	position: relative;
}

.voucher {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #182325;
	/* padding: 8px; */
	border-radius: 8px;
	width: 200px;
	box-sizing: border;
	border: 8px solid #364b50;
	padding: 18px 8px;
	min-width: 25%;
}

footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	transition: background-color 0.5s;
}

.scrolled {
	background-color: #182325;
}

.legendary-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.show-legendary-button {
	position: absolute;
	bottom: 0;
	left: 50%;
	/* Position at 50% from the left edge */
	transform: translateX(-50%) translateY(8px);
	/* Center horizontally and keep your original Y translation */
	border-radius: 0px 0px 8px 8px;
	padding: 4px 8px;
	cursor: pointer;
	transition: opacity 0.3s, transform 0.3s;
	opacity: 0;
	display: none;
	z-index: 99;
	padding: 8px 16px;
}

.legendary {
	position: absolute;
	transition: transform 0.3s;
	
}

.show-legendary-button.active {
	opacity: 1;
	display: inline-flex;
	/* Keep horizontal centering while moving down */
}

.legendary.active {
	transform: translateY(-15px) !important;
}